<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to our ChatBot administration service</h1>
    <p>Please login or register to continue</p>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </body>
</html>
